* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: rgb(56, 71, 66);
    color: aliceblue;
    text-align: center;
    padding: 30px;
}

header .question {
    margin-top: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(215, 215, 215);
}

.button {
    padding: 10px;
    transition: all .3s linear;
    cursor: pointer;
}

.button:hover {
    background-color: aliceblue;
}

.active {
    background-color: rgb(117, 169, 169);
}

.difficulty {
    display: flex;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 10px;
    margin-top: 20px;
}

.colorBox {
    width: 100px;
    height: 100px;
    border-radius: 30px;
    box-shadow: 0 0 5px gray;
    cursor: pointer;
}